* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.logo-mario {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
    
}

.color-paragrafo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.color-paragrafodois {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-entre-contato {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.pedir-orcamento {
    color: white;
    background-color: #c51111;
    border-radius: 20px;
    border: 3px solid #18D80F;
    padding: 8px 8px;   
}

.imagem-mario-luigi {
    height: 500px;
}
    
body {
    margin: 0;
    padding: 0;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    height: 100vh;
}


.link-whatsapp {
    height: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    position: fixed; 
    top: 0;            
    left: 0;
    width: 100%;       
    padding: 10px 20px;
    z-index: 1000; 
}

.header img {
    height: 60px;

}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
    top:30%;
    left: -500px;
    transition: left 1s ease-in-out;
}

.input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

.textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    border-radius: 20px;
    transition: visibility 1s ease-in-out;
}




